
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*Areas of Wellness section*/

h1, h2 {
  font-size: calc(10px + 4vmin);

}

.areas {
  color: white;
}

.areas img {
  height: 20vmin;
  
}

.wellness {
  display: flex;

}
.example {
  color: rgb(110, 197, 157);
}
body {
  background-color: rgb(29, 26, 20);
}
.grass {
  border: 10px solid rgb(118, 177, 118);
}
/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/

